@charset "UTF-8";

body {
    background-color: brown;
}


.BrowerBackButton{
    text-align: center;
} 
button{
    background-color: #3498db;
    background: transparent;
    color: white;
    text-align: center;
}


.mainText1 {
    font-size: 30px;
    text-align: center;
}
.cont{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
}
.Text{
    margin-top: 70px;
    margin-left: 10px;
    color: white;
    display: inline-block;
}