@charset "UTF-8";

body {
    background-color: brown;
}


.BrowerBackButton{
    text-align: center;
} 
button{
    background-color: #3498db;/*ボタンの背景色を青に設定*/
    background: transparent;
    color: white;/* ボタンの文字色を白に設定 */
    text-align: center;
}

.BrowerBackButton button:hover {
    background-color: #2980b9;
    /* マウスがボタンに乗った時の背景色を変更 */
}

.BrowerBackButton button:active {
    background-color: #1f618d;
    /* ボタンがクリックされたときの背景色を変更 */
}

.mainText1 {
    font-size: 30px;
    text-align: center;
}