@charset "UTF-8";

body {
    background-color: brown;
}


.BrowerBackButton{
    text-align: center;
} 
button{
    background-color: #3498db;
    background: transparent;
    color: white;
    text-align: center;
}

/* .BrowerBackButton button:hover {
    background-color:bisque;
}

.BrowerBackButton button:active {
    background-color:blueviolet;
 
} 
*/

.mainText1 {
    font-size: 30px;
    text-align: center;
}